.stepsSection {
  padding: 6rem 2rem;
  background: var(--background-light);
  text-align: center;
}

.heading {
  font-size: 2.75rem;
  font-weight: 800;
  background: var(--text-grad);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 1rem;
}

.subheading {
  font-size: 1.25rem;
  color: var(--grey-600);
  margin-bottom: 3rem;
}

.stepsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-bottom: 3rem;
}

.stepCard {
  /* background-color: var(--primary-100); */
  /* border: 1px solid var(--primary-300); */
  border-radius: 20px;
  padding: 2.5rem 2rem;
  width: 300px;
  text-align: center;
  /* box-shadow: 0 12px 30px rgba(99, 102, 241, 0.05); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.stepCard:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(99, 102, 241, 0.12);
}

/* Icon circle styling */
.icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1.5rem auto;
  /* box-shadow: 0 6px 12px rgba(99, 102, 241, 0.2);
  font-size: 2rem;
  background-color: var(--primary-main);
  color: white; */
  color: var(--primary-main);
  font-size: 3rem;
}

.stepTitle {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--primary-dark);
  margin-bottom: 0.75rem;
}

.stepDesc {
  font-size: 1rem;
  color: var(--grey-700);
  line-height: 1.5;
  padding: 0 0.5rem;
}

.startButton {
  background: linear-gradient(
    120deg,
    var(--primary-dark),
    var(--secondary-main)
  );
  color: var(--background-light);
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.startButton:hover {
  background: linear-gradient(
    60deg,
    var(--primary-dark),
    var(--secondary-main)
  );
}

.gradButton {
  background: linear-gradient(
    120deg,
    var(--primary-dark),
    var(--secondary-main)
  );
  color: var(--background-light);
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s ease;
}
.gradButton:hover {
  background-color: var(--primary-active);
}
