.testimonialsSection {
    padding: 60px 20px;
    background-color: var(--background-light);
    position: relative;
  }
  
  .testimonialsSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: var(--primary-main);
    z-index: -2;
    opacity: 0.3;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  .sectionTitle {
    font-size: 36px;
    font-weight: 700;
    color: var(--text-darker);
    margin-bottom: 10px;
  }
  
  .sectionSubtitle {
    font-size: 18px;
    color: var(--text-dark);
    margin-bottom: 40px;
    font-weight: 300;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .testimonialsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .testimonialItem {
    background-color: var(--background-light);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: center;
    /* opacity: 0; */
    transform: translateY(50px);
    /* animation: fadeUp 0.7s ease-in-out forwards; */
  }
  
  .testimonialItem:hover {
    transform: translateY(-100px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .testimonialText {
    margin-bottom: 20px;
    font-style: italic;
    color: var(--text-dark);
  }
  
  .quote {
    font-size: 16px;
  }
  
  .avatarContainer {
    margin-bottom: 20px;
  }
  
  .avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  
  .userDetails {
    margin-top: 20px;
  }
  
  .userName {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-darker);
  }
  
  .userPosition {
    font-size: 14px;
    color: var(--text-dark);
    margin-top: 5px;
  }
  
  .rating {
    margin-top: 10px;
  }
  

  
  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(-10px);
    }
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .testimonialsList {
      flex-direction: column;
      align-items: center;
    }
  
    .testimonialItem {
      width: 90%;
      max-width: 350px;
    }
  
    .sectionTitle {
      font-size: 28px;
    }
  
    .sectionSubtitle {
      font-size: 16px;
    }
  }
  