@import "../../../vars.css";

.featuresSection {
  position: relative;
  padding: 60px 20px;
  overflow: hidden;
  z-index: 1;
  
  /* Solid background for the top 50% */
  /* background: red; 
  background-size:50% 50%;
  background-position: top; */
}

.featuresSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--secondary-dark); /* Replace with your desired color */
  z-index: -1; /* Ensure the background is behind the content */
}




.featureItem:nth-child(odd) {
  margin-top: 40px;
}

.featureItem:nth-child(even) {
  margin-top: 0;
  margin-bottom: 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  cursor: default;
}

.sectionTitle {
  font-size: 36px;
  font-weight: 700;
  color: var(--text-light);
  margin-bottom: 10px;
}

.sectionSubtitle {
  font-size: 18px;
  color: var(--text-light);
  margin-bottom: 40px;
  font-weight: 300;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.featuresList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.featureItem {
  background-color: var(--background-light);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 250px;
  text-align: center;
  /* opacity: 0; */
  transform: translateY(5px); 
  /* animation: fadeUp 0.7s ease-in-out forwards; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.featureItem:nth-child(odd) {
  animation-delay: 0.2s;
}

.featureItem:nth-child(even) {
  animation-delay: 0.4s;
}

.featureItem:hover {
  transform: translateY(-5px); /* Move slightly up when hovered */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.featureItem h3 {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-darker);
  margin-bottom: 15px;
}

.featureItem p {
  font-size: 14px;
  color: var(--text-dark);
  margin-bottom: 15px;
}

.icon img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .featuresList {
    flex-direction: column;
    align-items: center;
  }

  .featureItem {
    width: 100%;
    max-width: 320px;
  }

  .sectionTitle {
    font-size: 28px;
  }

  .sectionSubtitle {
    font-size: 16px;
  }


  .featuresSection {
  position: relative;
  padding: 60px 20px;
  overflow: hidden;
  z-index: 1;
  background-color: var(--secondary-dark);
}

.featureItem:nth-child(odd) {
  margin-top: 0px;
}

.featureItem:nth-child(even) {
  margin-top: 0;
  margin-bottom: 0px;
}

}
