:root {
  --color-black: #0b0714;
  --color-dark: #4c4566;
  --color-darker: #332d48;
  --color-light: #f4f3ff;
  --background-color: #f9fafb;
  --background-light: #ffffff;
  --text-dark: #7e769e;
  --text-darker: #1d182c;
  --text-light: #e9e4ff;
  --primary-main: #6366f1;
  --primary-light: #c7d2fe;
  --primary-dark: #4338ca;
  --primary-active: #3730a3;
  --primary-extra: #282b8f;
  --secondary-main: #8b5cf6;
  --secondary-light: #ddd6fe;
  --secondary-dark: #6d28d9;
  --text-grad: linear-gradient(90deg, var(--primary-main), var(--primary-dark));
  --text-grad-light: linear-gradient(
    90deg,
    var(--primary-200),
    var(--secondary-200)
  );

  --button-grad: linear-gradient(
    120deg,
    var(--primary-dark),
    var(--secondary-main)
  );
  --button-grad-hover: linear-gradient(
    90deg,
    var(--primary-dark),
    var(--secondary-main)
  );
  --text-color: #1d182c;
}

:root {
  --grey-0: #ffffff;
  --grey-10: #f9f5ff;
  --grey-50: #f4f3ff;
  --grey-100: #e9e4ff;
  --grey-200: #cfc9e8;
  --grey-300: #b3add0;
  --grey-400: #9891b8;
  --grey-500: #7e769e;
  --grey-600: #655d83;
  --grey-700: #4c4566;
  --grey-800: #332d48;
  --grey-900: #1d182c;
  --grey-1000: #0b0714;
  --primary-0: #ffffff;
  --primary-50: rgb(237, 240, 252);
  --primary-100: #e0e7ff;
  --primary-200: #c7d2fe;
  --primary-300: #a5b4fc;
  --primary-400: #818cf8;
  --primary-500: #6366f1;
  --primary-600: #4f46e5;
  --primary-700: #4338ca;
  --primary-800: #3730a3;
  --primary-900: #312e81;
  --secondary-50: #f8f6fe;
  --secondary-100: #ede9fe;
  --secondary-200: #ddd6fe;
  --secondary-300: #c4b5fd;
  --secondary-400: #a78bfa;
  --secondary-500: #8b5cf6;
  --secondary-600: #7c3aed;
  --secondary-700: #6d28d9;
  --secondary-800: #5b21b6;
  --secondary-900: #4c1d95;
}
